{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('users_new') }}">
  <div class="form-group">
    {{ form.username.label(class_="sr-only") }}
    {{ form.username(class_="form-control", placeholder="Username") }}
  </div>

  <div class="form-group">
    {{ form.password.label(class_="sr-only") }}
    {{ form.password(class_="form-control", placeholder="Password") }}
  </div>

  <div class="form-group">
    {{ form.confirm.label(class_="sr-only") }}
    {{ form.confirm(class_="form-control", placeholder="Confirm password") }}
  </div>

  <button type="submit" class btn btn-primary>Create new user</button>
</form>
{% endblock %}