<div class="container bg-light text-justify text-dark border m-2">
  <ul class="list-inline">
    <li class="list-inline-item"><h4>{{ message.name }}</h4></li>
    <li class="list-inline-item text-muted">{{ message.date }}</li>
    <li class="list-inline-item float-right m-2">
      <form method="GET" action="{{ url_for('messages_edit', message_id=message.id) }}">
        <button class="btn btn-sm" type="submit">Edit</button>
      </form>  
    </li>
    <li class="list-inline-item float-right m-2">
      <form method="GET" action="{{ url_for('messages_delete', message_id=message.id) }}">
        <button class="btn btn-sm" type="submit">Delete</button>
      </form>
    </li>
  </ul>
  <p class="text-justify">{{ message.text }}</p>
</div>