{% extends "layout.html" %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Chat name</th>
      <th scope="col">ID</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    {% for chat in chats %}
      <tr>
        <td>{{ chat.name }}</td>
        <td>{{ chat.id }}</td>
        <td>
          <form method="POST" action="{{ url_for('chats_delete', chat_id=chat.id) }}">
            <input class="btn btn-primary" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}