{% extends "layout.html" %}

{% block body %}
  {% include "chats/adduser.html" %}

  {% for user in users %}
    <div class="container bg-light text-justify text-dark border m-2">
      <ul class="list-inline">
        <li class="list-inline-item"><h4>{{ user.username }}</h4></li>
        <li class="list-inline-item float-right m-2">
          <form method="POST" action="{{ url_for('chats_delete_user', chat_id=chat.id, user_id=user.id) }}">
            <button class="btn btn-sm" type="submit">Delete</button>
          </form>  
        </li>
      </ul>
    </div>
  {% endfor %}
{% endblock %}