{% extends "layout.html" %}

{% block body %}  
  <div class="container">
    <form class="form-inline" method="POST" action="{{ url_for('chats_post', chat_id=chat.id) }}">
      {{ form.csrf_token }}
      <div class="form-group mx-sm-3 mb-2">
          {{ form.text.label(class_="sr-only") }}
          {{ form.text(class_="form-control", placeholder="Type message here") }}
          <ul>
            {% for error in form.text.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
      </div>
      <button type="submit" class="btn btn-primary mb-2 float-right">Send</button>
      <a class="btn btn-primary mb-2 ml-2 float-right" href="{{ url_for('chats_management', chat_id=chat.id) }}" role="button">Management</a>
    </form>
    <div class="container" id="messages">
      
      {% for message in messages %}
        {% include "messages/message.html" %}
      {% endfor %}
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      window.setInterval( function(){ updateMessages(); }, 1000);

      function updateMessages(){
        $.getJSON(
          $SCRIPT_ROOT + '/chats/_m/',
          {chat_id: '{{ chat.id }}' },
          function(data){
            $('#messages').html(data.messages)
          }
        )
      }
    });
  </script>

{% endblock %}